
.img-thumbnail {
    width: 350px;
    height: 350px;
}

.img-thumbnail:hover {
    transform: scale(1.05); 
}

.text-box {
    font-size: 0.75rem;
}

.card-box {
    margin: auto;
    background-color: #bcdffc;
    box-shadow: 4px 9px 16px -4px rgba(0,0,0,0.75);
    border: none;
    padding: 10px;
    margin: 50px;
}

.title-text {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 5px;
}

.card {
    display: inline-block;
    background-color: #bcdffc ;
    
    
	
}

.card-div {
    padding: 10px;
    align-content: center;

}

.btn {
    transition-duration: 0.4s;
    background-color: #17a5f7;
    border-radius: none;
  }
  
  .btn:hover {
    background-color: #66aae2; /* Green */
    color: white;
  }

  .link {
      font-size: 20px;
      text-decoration: none;
      color: white;
  }


	
	

